## AnÃ¡lise comparativa dos dados

In [1]:
# pip install -U scikit-learn

In [3]:
import pandas as pd
from IPython.display import display, Markdown, HTML
import joblib
import numpy as np

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.10/dist-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python3.10/dist-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/home/gabriela/.local/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py", line 456, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_8949/883736148.py", line 6, in <module>
    from sklearn.pipeline import Pipeline
  File "/home/gabriela/.local/lib/python3.10/site-packages/sklearn/__init__.py", line 84, in <module>
    from .base import clone
  File "/home/gabriela/.local/lib/python3.10/site-packages/sklearn/base.py", line 19, in <module>
    from .utils._estimator_html_repr import _HTMLDocumentationLinkMixin, estimator_html_repr
  File "/home/gabriela/.local/lib/python3.10/site-packages/sklearn/utils/__init__.py", line 11, in <module>
    from ._chunking import gen_batches, gen_even_slices
  File "/home/gabriela/.local/lib/python3.10/site-packages/sklearn/utils/_chunking.py", line 8, in <module>
    from ._param_validation import Interval, validate_params
  File "/home/gabriela/.local/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 11, in <module>
    from scipy.sparse import csr_matrix, issparse
  File "/usr/lib/python3/dist-packages/scipy/sparse/__init__.py", line 267, in <module>
    from ._csr import *
  File "/usr/lib/python3/dist-packages/scipy/sparse/_csr.py", line 10, in <module>
    from ._sparsetools import (csr_tocsc, csr_tobsr, csr_count_blocks,

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

### 01. ImportaÃ§Ã£o dos dados

In [4]:
df = pd.read_csv("../data/raw/data.csv")
dict = pd.read_csv("../data/external/dictionary.csv")

display(df.describe(include='all'))
display(dict)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,variavel,descriÃ§Ã£o,tipo,subtipo
0,survived,Se a pessoa sobreviveu ou nÃ£o,qualitativo,nominal
1,pclass,"CLasse da passagem (1,2,3)",qualitativo,ordinal
2,sex,GÃªnero do passageiro,qualitativo,nominal
3,age,Idade do passageiro,quantitativo,contÃ­nua
4,sibsp,Se o passageiro possui irmÃ£os/cÃ´njuges a bordo,quantitativo,discreto
5,parch,Se o passageiro possui pais/filhos a bordo,quantitativo,discreto
6,fare,Valor da passagem,quantitativo,contÃ­nuo
7,embarked,"Porto de embarque (C, Q, S)",qualitativo,nominal
8,class,"Classe do passageiro (1,2,3)",qualitativo,ordinal
9,who,Perfil do passageiro,qualitativo,nominal
10,adult_male,Se Ã© um homem adulto,qualitativo,nominal
11,deck,"Qual cabine o passageiro estÃ¡ hospedado(A,B,C,...",qualitativo,ordinal
12,embark_town,Cidade de embarque,qualitativo,nominal
13,alive,Se a pessoa sobreviveu ou nÃ£o,qualitativo,nominal
14,alone,Se a pessoa estÃ¡ sÃ³ ou nÃ£o,qualitativo,nominal

In [5]:
# Observando conjunto amostral
uniques = {'Variavel': [], 'Tipo': [], 'Valores': []}

for variable in dict['variavel']:
    if variable in df.columns:
        uniques['Variavel'].append(variable)
        uniques['Tipo'].append(df[variable].dtype)
        uniques['Valores'].append(set(df[variable].unique()))
    else:
        uniques['Variavel'].append(variable)
        uniques['Tipo'].append(None)
        uniques['Valores'].append(set())

df_uniques = pd.DataFrame.from_dict(uniques)
display(HTML(df_uniques.to_html()))

### 02. PreparaÃ§Ã£o dos Dados

In [ ]:
target_column = 'who'
nominal_columns = (
    df_dict
    .query("subtipo == 'nominal' and variavel != @target_column")
    .variavel
    .to_list()
)
continuous_columns = (
    df_dict
    .query("subtipo == 'continua'")
    .variavel
    .to_list()
)

X = df.drop(columns=[target_column], axis=1)
y = df[target_column]

In [ ]:
# tratamento de dados discrepantes
nominal_preprocessor = Pipeline([
    ('missing', SimpleImputer(strategy='most_frequent')), # tratamento de dados faltantes
    ('encoding', OneHotEncoder(sparse_output=False, drop='first')), # codificaÃ§Ã£o de variÃ¡veis
    ('normalization', StandardScaler()) # normalizaÃ§Ã£o de dados
])
continuous_preprocessor = Pipeline([
    ('missing', SimpleImputer(strategy='mean')), # tratamento de dados faltantes
    ('normalization', StandardScaler()) # normalizaÃ§Ã£o de dados
])

preprocessor = ColumnTransformer([
    ('nominal', nominal_preprocessor, nominal_columns),
    ('continuous', continuous_preprocessor, continuous_columns)
])

model = LogisticRegression()

#### Observando valores Ãºnicos:

### Tratamento de dados faltantes:

- identificar e remover linhas/colunas com dados faltantes insignificatnes; imputar valores ausentes usando estatÃ­sticas de tendÃªncia central ou modelos preditivos.

### Tratamento de dados discrepantes:

- remover ou isolar outliers dependendo do contexto.